@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
<button id="@Model.JobId" class="claim" type="button">Work on this Job</button>
<p>@Html.ActionLink("Back to list", "Index")</p>