@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<MrFixIt.Models.Job>
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>


<div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
        <thead>
            <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
            <tr>
                <th>Title</th>
                <th>Current Worker</th>
                <th>Description</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        @foreach(var job in Model)
        {
            <tr>
                <td>@job.Title</td>
                @if(job.Worker == null)
                {
                    <td>Unclaimed</td>

                }
                else
                {
                    <td>@job.Worker.FirstName</td>

                }
                <td>@job.Description</td>
                @if(job.Worker == null)
                {
                    <td class="text-center"><a class="'btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-ok"></span> Claim</a></td>

                }
                else
                {
                    <td class="text-center"><a class="'btn btn-success btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span> Finish</a></td>

                }
            </tr>

        }
    </table>
</div>

